.nav{
	border: 3px solid grey;
}
.nav ul {
  list-style: none;
  /*background-color: #444;*/
  text-align: center;
  margin: 0;
  padding: 0;

}
.nav li {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
	/*font-family: 'Oswald', sans-serif;*/
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  /*color: #fff;*/
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: lightblue;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
	.nav li {
	display: inline-block;
	margin-right: -4px;
	}

strong{
	font-size: 24px;
}

.intro-pic{
	width: 100%;
	height: 100vh;
	background-image: url("https://static.pexels.com/photos/34676/pexels-photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.paragraph {
	margin-top: 50px;
	font-size: 28px;
}
.opening {
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
 /* border-right: 10px solid white; /* The typwriter cursor */*/
  white-space: nowrap;  /*Keeps the content on a single line */
  /*margin: 0 auto;*/ /* Gives that scrolling effect as the typing happens */
  text-align: center;
  color: white;
  margin: auto;
  font-size: 28px;
  padding-top: 225px;
  letter-spacing: .15em; /* Adjust as needed */
}

.contact {
	background-color: lightgreen;
}

.modal-title, .media-heading, strong, .text-left, .resume {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.about-section{
	width: 100%;
	height: 100vh; 
	border: 2px solid black;


}

.wine, .blackjack, .movieapp{
	margin-top: 20px;
	height:200px;
	width: 300px;
	border-radius: 5%;
	box-shadow: 10px 10px 5px #888888;
}

.description{
	margin: 20px;
	width: 50%;
	height: 200px;
	font-size: 24px;
	background-color: darkgreen;
	color: white;
	border-radius: 10%;
	box-shadow: 10px 10px 5px #888888;
}

.mae-pic {
	margin-top: 20px;
	border-radius: 50%
}

.project-section{
	width: 100%;
	height: 100vh;
	background-color: lightblue; 

}

.skills-section{
	width: 100%;
	height: 100vh;
	/*background-color: lightblue;*/
	border: 2px solid black;
	background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;


} 

i{
	font-size: 6em;
	margin: 50px;
	outline-style: none;
	text-decoration: none;
}

.first-icons{
	display: inline-block;
	margin-bottom: 100px;
	margin-top: 100px;
}

.second-icons{
	margin-top: 60px;

}

.contact-section{
	width: 100%;
	height: 200px;
	background-color: grey;

}

.gitter-hub {
	font-size: 3em;
	margin: 10px;

}



.headers{
	text-align: center;
	font-size: 36px;
	margin-bottom: 30px;
	color: white;
}

.first-sample,.second-sample, .third-sample{
	width: 30%;
	height: 200px;
	font-size: 24px;
	/*background-color: #7a918d;*/
	margin-right: 60px;
	margin-left: 20px;
	text-align: center;
	color: white;
}

.first-sample{
	/*background-image: url("winedine.png");*/
	/*background-size: 400px 160px*/
	/*border: 3px solid white;*/
}

.second-sample{
	/*background-image: url("blackjack.png");*/
	background-size: 400px 200px ;
	background-repeat: no-repeat;

}

