.nav ul {
  list-style: none;
  /*background-color: #444;*/
  text-align: center;
  margin: 0;
  padding: 0;

}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  /*color: #fff;*/
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
	.nav li {
	display: inline-block;
	margin-right: -4px;
	}

.intro-pic{
	width: 100%;
	height: 100vh;
	background-image: url("https://static.pexels.com/photos/34676/pexels-photo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.opening {
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 10px solid white; /* The typwriter cursor */
  white-space: nowrap;  /*Keeps the content on a single line */
  /*margin: 0 auto;*/ /* Gives that scrolling effect as the typing happens */
  text-align: center;
  color: white;
  margin: auto;
  width: 70%;
  padding-top: 225px;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s steps(30, end),
    blink-caret 1s infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 70% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: white }
}


.about-section{
	width: 100%;
	height: 100vh; 
	border: 2px solid black;

}

img{
	margin-top: 20px;
	height:200px;
	width: 500px;
}

.project-section{
	width: 100%;
	height: 100vh;
	background-color: lightblue; 

}

.skills-section{
	width: 100%;
	height: 100vh;
	/*background-color: lightblue;*/
	border: 2px solid black;


} 

i{
	font-size: 6em;
	margin: 50px;
}

.first-icons{
	display: inline-block;
	margin-bottom: 100px;
	margin-top: 100px;
}

.second-icons{
	margin-top: 60px;

}

.contact-section{
	width: 100%;
	height: 200px;
	background-color: grey;

}

.headers{
	text-align: center;
	font-size: 36px;
	margin-bottom: 30px;
}

.first-sample,.second-sample{
	width: 30%;
	height: 200px;
	font-size: 24px;
	/*background-color: #7a918d;*/
	margin-right: 40px;
	margin-left: 20px;
	text-align: center;
	color: white;
}

.first-sample{
	/*background-image: url("winedine.png");*/
	/*background-size: 400px 160px*/
}

.second-sample{
	/*background-image: url("blackjack.png");*/
	background-size: 400px 200px ;
	background-repeat: no-repeat;

}

.description{
	margin: 20px;
	width: 50%;
	height: 200px;
	font-size: 24px;
	background-color: darkgreen;
	color: white;
}